@import './index.css';

main {
  display: grid;
  grid-template-columns: 1fr 50rem 1fr;
  gap: 0.5em;
  grid-template-areas:
    '⚫ 📄 ➡️';
  justify-content: center;
  margin-top: 1rem;
}

main::before {
  content: '';
  grid-area: ⚫;
}

#root {
  grid-area: 📄;
  max-width: 50rem;
  margin-inline: 0.2em;
  color-scheme: light;
  color: black;
  margin-bottom: 1rem;
}

#edit_controls {
  width: max-content;
  grid-area: ➡️;
}

#edit_controls > div {
  position: sticky;
  top: 2.8rem;
  display: flex;
  flex-direction: column;
}

@media (width < calc(53rem + 24px)) {
  main {
    grid-template-columns: none;
    grid-template-areas: '📄';
  }

  main::before {
    display: none;
  }

  #edit_controls {
    display: none;
  }
}

#latex:modal > textarea {
  border: 1px solid #111;
  background-color: #1112;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.5em;
  width: calc(100vw - 5.5em);
  height: calc(100vh - 5.5em);
  max-width: 1200px;
  max-height: 700px;
  white-space: pre-wrap;
  font-family: monospace;
  overflow-y: scroll;
  resize: none;
  outline: none;
}
