.NewPage {
  break-after: page;

  /* width: calc(100% + 10rem - 1rem);
  transform: translateX(-5rem);
  border-color: var(--background-color);
  margin-block: 4rem;
  border-width: 0.5rem;
  border-style: solid;

  @media print {
    visibility: hidden;
  } */
}
